@"
venv/
__pycache__/
*.pyc
mlruns/
mlflow.db
notebook/
catboost_info/
logs/
.git/
.gitignore
*.ipynb
docs/
artifact/data.csv
artifact/train.csv
artifact/test.csv
artifact/shap_plots/
README.md
LICENSE
"@ | Out-File -FilePath .dockerignore -Encoding ascii -NoNewline